html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.wrapper{
  width: 1200px;
  margin: 0 auto;
  background: bisque;
}
p{
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
a{
  color: black;
  text-decoration: none;
}
.table_cell{
  background: cadetblue;
  margin: 15px 0 0;
}
.table_cell_null, .table_cell_small, .table_cell_middle, .table_cell_big{
  outline: white solid 1px;
}
.table_cell_small{
  width: 200px;
  display: table-cell;
}
.table_cell_middle{
  width: 400px;
  display: table-cell;
}
.table_cell_big{
  width: 800px;
  display: table-cell;
}